@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/variables/colors" as colors;

.header {
  position: fixed;
  width: 100%;
  z-index: 900;
  background-color: white;

  &_top {
    @extend %mainLayout;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_bottom {
    background-color: colors.$palette2;
  }

  img {
    width: auto;
  }
}

.pc {
  .header_logo {
    padding-left: 1rem;

    @include devices.device(xlgScreen) {
      padding-left: 0rem;
    }
  }
  .header_content {
    // display: flex;
    // justify-content: space-between;
    padding-top: 2rem;

    &__scrolled {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;

      img {
        width: 80%;
      }
    }
  }

  .menu {
    padding-right: 1rem;
    @extend %mainLayout;


    ul {
      display: flex;
      align-items: center;
      height: auto !important;

      li {
        padding-right: 2rem;
        opacity: 1 !important;
        transform: none !important;

        &:last-child {
          padding: 0px;
        }
      }

      a {
        display: inline-block;
        // padding: 1rem;

        &:hover {
          color: colors.$palette2;
        }
      }
    }
  }
}

.mobile {
  background-color: white !important;

  .submenu {
    background-color: colors.$palette2;

    ul {
      display: flex;
      color: colors.$main;
      padding: .8rem;

      li {
        font-size: 1.2rem;
        font-weight: bold;
        width: 50%;
        span {
          color: colors.$palette1;
          display: block;
        }
      }
    }
  }

  .phone,.rating {
    display: none;
  }

  .header_logo {
    max-width: 40px;
    img {
      width: 100%;
    }
  }

  .menu {
    ul {
      position: absolute;
      width: 0vw;
      top: 0%;
      left: 0;
      z-index: 999;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // opacity: 0;
      height: 100vh;
      overflow: hidden;

      li {
        margin: 1rem 0;
        font-size: 3rem;
        color: colors.$main;
        font-weight: 500;
      }
    }
  }
}
