@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/variables/colors" as colors;

%submenuIcon {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 900;
  background-color: white;

  @include devices.device(tablet) {
    position: static;
  }

  &_top {
    @extend %mainLayout;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    @include devices.device(tablet) {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }

  &_bottom {
    background-color: colors.$palette2;
    position: relative;
  }

  img {
    width: auto;
  }

  .mobileButton,
  .closeButton {
    background-size: contain;
    width: 35px;
    height: 35px;
  }

  .mobileButton {
    background: url(../../assets/img/hamburguer.svg) no-repeat;
    background-position: right center;
    margin-right: 0;
  }

  .closeButton {
    background: url(../../assets/img/close.svg) no-repeat;
    position: absolute;
    right: 10px;
  }

  .phone {
    display: flex;
    align-items: center;
    color: colors.$main;
    font-weight: bold;

    &::before {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      background: url(../../assets/img/contact_b.svg) no-repeat;
      background-size: contain;
      margin-right: 10px;
    }
  }
}

.pc {
  .header_logo {
    padding-left: 1rem;
    width: 220px;

    img {
      width: 100%;
    }

    @include devices.device(xlgScreen) {
      padding-left: 0rem;
    }
  }
  .header_content {
    padding-top: 2rem;

    &__scrolled {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;

      img {
        width: 80%;
      }
    }
  }

  .menu {
    @extend %mainLayout;
    padding: 0;
    padding-right: 1rem;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: auto !important;
      width: 100%;

      li {
        opacity: 1 !important;
        transform: none !important;
        text-transform: uppercase;
      }

      a {
        display: inline-block;
        padding: 1rem;


        &:hover {
          background-color: colors.$palette1;
           span {
            color: white !important;
           }
        }
      }
    }
  }
}

.mobile {
  background-color: white !important;

  .header_logo {
    width: 180px;
  }

  .overlay {
    background: rgba($color: #000000, $alpha: 0.5);
    width: 100vw;
    position: absolute;
    height: 100vh;
    top: -85px;
    left: 0px;
    display: none;
    opacity: 0;
  }

  .submenu {
    background-color: colors.$palette2;

    button {
      background-color: transparent;
      font-size: inherit;
      text-align: left;
      display: flex;
      align-items: center;
      width: 100%;

      &::before {
        @extend %submenuIcon;
      }

      span {
        font-size: 1.1rem;
        & > span {
          color: colors.$palette1;
          display: block;
        }
      }
    }

    &_button__form {
      padding-left: 0.8rem;

      &::before {
        background: url(../../assets/img/menu_mail.svg) no-repeat;
        background-size: contain;
      }
    }

    &_button__phone {
      border-right: 1px solid colors.$main;
      margin-right: 10px;
      padding-right: 15px;

      &::before {
        background: url(../../assets/img/menu_call.svg) no-repeat;
        background-size: contain;
        flex-shrink: 0;
      }
    }

    ul {
      display: flex;
      color: colors.$main;
      padding: 0.4rem;

      li {
        font-size: 1.2rem;
        font-weight: bold;
        width: 50%;
        display: flex;
        align-items: center;
        box-sizing: content-box;
      }
    }
  }

  .phone,
  .rating {
    display: none;
  }

  .header_logo {
    max-width: 120px;
    img {
      width: 100%;
    }
  }

  .menu {
    width: 0vw;
    overflow: hidden;
    position: absolute;
    top: -85px;
    z-index: 999;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    ul {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      overflow: hidden;

      li {
        margin: 1rem 0;
        font-size: 3rem;
        color: colors.$main;
        font-weight: 500;
      }
    }
  }
}

.fixedButton {
  display: none;
  &::before {
    @extend %beforeAfter;
    background: url(../../assets/img/calendar.svg) no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin-bottom: 10px;

    @include devices.device(mdScreen) {
      height: 50px;
      width: 40px;
    }
  }

  @include devices.device(tablet) {
    position: fixed;
    top: 20%;
    right: -115px;
    z-index: 999;
    background-color: colors.$palette3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.6rem;
    height: 80px;
    transition: transform 400ms ease !important;
  }

  @include devices.device(mdScreen) {
    height: 100px;

  }


}
