@use "../../../../assets/styles/partials/placeholders" as placeholders;
@use "../../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../../assets/styles/partials/mixins/layout" as layout;
@use "../../../../assets/styles/partials/variables/colors" as colors;

.clinic {
  .title {
    @extend %mainTitle;
  }
  &_testimonials {
    @extend %mainLayout;
    background-color: colors.$grey20;
  }

  &_maps {
    @extend %mainLayout;
    text-align: center;
  }

  &_steps {
    background-color: colors.$palette2;
    margin-top: 6rem;
  }

  &_impressions {
    overflow: hidden;
    // display: flex;
    // justify-content: flex-end;

    // &__slider {
    //   width: 1900px;
    //   border: 1px solid pink
    // }
  }

}
