@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/mixins/layout" as layout;
@use "../../assets/styles/partials/variables/colors" as colors;

.steps {
  @extend %mainLayout;
  text-align: center;

  article {
    margin-bottom: 3rem;
    h2 {
      @extend %mainTitle;
    }
    p {
      max-width: 1000px;
      margin: auto;
    }
  }

  &_screenLayout {
    button {
      max-width: fit-content !important;
      margin: auto;
      margin-top: 2rem;
    }
    .list {
      @include devices.device(tablet) {
        display: flex;
        justify-content: center;
      }

      &__step1 {
        .content {
          &::before {
            background-image: url(../../public/img/icons/step1.svg);
          }

          &::after {
            content: "1." !important;
          }
        }
      }

      &__step2 {
        .content {
          &::before {
            background-image: url(../../public/img/icons/step2.svg);
          }

          &::after {
            content: "2." !important;
          }
        }
      }

      &__step3 {
        .content {
          &::before {
            background-image: url(../../public/img/icons/step3.svg);
          }

          &::after {
            content: "3." !important;
          }
        }
      }

      li {
        background-color: white;
        padding: 2rem;
        @extend %borderRadius;
        z-index: 0;
        position: relative;
        margin-bottom: 1rem;

        @include devices.device(tablet) {
          width: 28%;
          margin: 0 1rem;
          margin-bottom: 0;
        }

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        .content {
          color: colors.$main;
          display: flex;
          text-align: left;

          @include devices.device(tablet) {
            flex-direction: column;
            text-align: center;
          }

          &::before {
            @extend %beforeAfter;
            background-color: colors.$palette2;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            border-radius: 100%;
            width: 70px;
            height: 70px;
            flex-shrink: 0;
            margin-right: 20px;

            @include devices.device(tablet) {
              width: 90px;
              height: 90px;
              margin: auto;
              margin-bottom: 20px;
            }

            @include devices.device(smScreen) {
              width: 120px;
              height: 120px;
            }
          }

          &::after {
            @extend %beforeAfter;
            position: absolute;
            color: colors.$palette2;
            font-weight: bold;
            font-size: 8rem;
            bottom: 0;
            right: 20px;
            z-index: -1;
            height: auto;
          }

          h4 {
            font-size: 1.2rem;
            margin-top: 0;

            @include devices.device(tablet) {
              margin: inherit;
            }
          }
        }
      }
    }
  }
}
