@use "../../../assets/styles/partials/placeholders" as placeholders;
@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/mixins/layout" as layout;
@use "../../../assets/styles/partials/variables/colors" as colors;

%containerSection {
  position: relative;
  overflow: hidden;
}

%sectionSpacing {
  margin-top: 8rem;
}

.home {
  position: relative;
  padding-top: 90px;

 @include devices.device(tablet) {
  padding-top: 0px;
 }

  &_icons, &_treatments, &_video, &_consultation,&_visualDiseases,&_doctor, &_testimonials, &_information, footer   {
    margin-top: 1rem;

    @include devices.device(smScreen) {
      margin-top: 6rem;
    }
  }

  &_consultation {
    margin-bottom: 3rem;
  }


  &_visualDiseases {
    background-color: colors.$palette2;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  &_video {
    position: relative;
    margin-top: 0rem;
    &::before {
      @extend %beforeAfter;
      background-color: white;
      min-height: 100px;
      height: 50%;
      position: absolute;
      top:0;
      width: 100%;
    }

    &::after {
      @extend %beforeAfter;
      background-color: colors.$palette2;
      min-height: 100px;
      height: 50%;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  &_testimonials {
    @extend %mainLayout;
    background-color: colors.$grey20;
  }

  &_infoBanner {
    @extend %mainLayout;
  }
}
