@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/mixins/layout" as layout;
@use "../../assets/styles/partials/variables/colors" as colors;

.button {
  background-color: colors.$palette3;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  padding: .8rem;
  padding-left: .8rem;
  min-width: 140px;
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;

  @include devices.device(tablet) {
    max-width: 250px;
    padding: 1rem;
    min-width: 180px;
    font-size: 1rem;
  }

  &:hover {

  }

  &_icon {
    width: 20px;
    height: 20px;
    
    img {
      object-fit: contain;
    }
  }

  &_label {
    width: 100%;
    text-align: center;
    color: white;
  }

  img {
    width: 100%;
  }
}
