@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/mixins/layout" as layout;
@use "../../assets/styles/partials/variables/colors" as colors;

.button {
  background-color: colors.$palette3;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 10px;
  padding: 1.2rem;
  padding-left: 1rem;
  min-width: 180px;
  width: 100%;
  max-width: 250px;


  @include devices.device(tablet) {
    max-width: 250px;
  }

  &:hover {

  }

  span {
    width: 100%;
    text-align: center;
    color: white;
  }
}
