@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/mixins/layout" as layout;
@use "../../assets/styles/partials/variables/colors" as colors;

.videoConsultation {
  @extend %mainLayout;
  border-radius: 10px;

  @include devices.device(tablet) {
    background-size: cover;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  &_text {
    @include devices.device(tablet) {
      background-color: white;
      width: 50%;
      padding: 2rem;
      border-radius: 10px
    }

    @include devices.device(smScreen) {
      width: 40%;
    }

    &_list {
      font-size: 1rem;
      color: colors.$main;
      margin-bottom: 20px;

      span {
        display: block;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include devices.device(tablet) {
          //margin-bottom: 3rem;

        }


      }

      li {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;

        &::before {
          @extend %beforeAfter;
          background: url(../../assets/img/check_list2.svg) no-repeat;
          flex-shrink: 0;
          margin-right: 15px
        }
      }
    }
  }

  button {
    max-width: 350px;
  }
}

.title {
  @extend %mainTitle;
  text-align: center;
  @include devices.device(tablet) {
    text-align: left;

  }

  span {
    display: block;
  }
}
