@use "../../../../../assets/styles/partials/placeholders" as placeholders;
@use "../../../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../../../assets/styles/partials/mixins/layout" as layout;
@use "../../../../../assets/styles/partials/variables/colors" as colors;

.treatmentSliderBlock {
  background-color: colors.$palette2;
  padding: 1rem;

  @include devices.device(tablet) {
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 3rem
  }

  .title {
    @extend %mainTitle;
    max-width: 550px;
    margin: auto
  }

  .centeredContainer {
    @extend %mainLayout;
    text-align: center;

    button {
      margin: auto;
    }
  }

  .slide_content {
    display: flex;

    &__image {
      width: 55%;
      display: none;

      @include devices.device(tablet) {
        display: block;
      }
    }

    &__text {
      width: 45%;
    }
  }
}

.step1 {
  .slide_content__text {
    display: flex;
    justify-content: space-between;
    div {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &::before {
      @extend %beforeAfter;
      content: "1.";
      width: 30%;
      color: colors.$main;
      font-size: 10rem;
      font-weight: lighter;
      height: auto;
      margin-top: -5%;
      margin-left: 5%;
    }
  }
}
