@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/mixins/layout" as layout;
@use "../../assets/styles/partials/variables/colors" as colors;

.bottomSection {
  background-color: colors.$palette1;
  color: white;
  position: relative;

  h3 {
    margin-top: 0;
    font-size: 3rem;
  }

  &_content {
    @extend %mainLayout;
    max-width: 500px;
    @include devices.device(smScreen) {
      max-width: 1800px;
    }
  }

  &_top {
    background: url(../../assets/img/semicircle.svg) no-repeat;
    background-size: contain;
    background-position: top center;
    @include devices.device(tablet) {
      height: 80vh;
    }
  }
}

.flexContainer {
  margin-top: 3rem;
  text-align: center;

  @include devices.device(smScreen) {
    display: flex;
    margin-top: 8rem;
    margin-left: 10rem;
    text-align: left;
  }
}

.form {
  margin-left: auto;
  margin-right: auto;

  @include devices.device(smScreen) {
    margin-left: 10rem;
    width: 50%;
  }
}