@forward "./reset";
@use "./partials/variables/colors" as colors;
@use "./partials/fonts";
@use "./partials/mixins/devices" as devices;
@use "./partials/placeholders" as placeholders;

$themeFont: "Lato";

* {
	font-family: $themeFont;
}

html {
	font-size: 14px;

	@include devices.device(smScreen) {
		font-size: 16px;
	}

	@include devices.device(mdScreen) {
		font-size: 18px;
	}
}

$headings: h1 h2 h3 h4 h5 h6;

@each $heading in $headings {
	#{$heading} {
		font-weight: 500;
	}
}

p {
	font-size: 1rem;
	line-height: 1.5rem;
}

p,
span {
	color: colors.$main;
}


img {
	width: 100%;
	height: auto;
}

canvas {
	width: 100%;
	height: auto;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
}

.author {
	font-weight: 500;
	color: colors.$grey60;
}

.date {
	font-weight: normal;
}

.uppercase {
	text-transform: uppercase;
}

.form-container {
	width: 100%;
}

.back-button {
	background: transparent;

	&:hover {
		color: colors.$main;
	}

	span {
		display: flex;
		align-items: center;
		font-weight: normal;
		&::before {
			content: "";
			width: 15px;
			height: 30px;
			display: inline-block;
			// background-image: url(../assets/img/icons/arrow-dark.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			margin-right: 5px;
		}
	}
}

.fake-button {
	background-color: colors.$grey40;
	padding: 15px 30px;
	display: block;
	border-radius: 80px;
	color: colors.$main;
	font-weight: bold;
	cursor: pointer;

	&:hover {
		background-color: colors.$grey50;
	}
}

.fake-input {
	display: flex;
	flex-direction: column;
	background-color: colors.$grey30;
	padding: 20px 15px;
	border-radius: 20px;
	opacity: 0.5;
	.label {
		font-size: 0.9rem;
		color: grey;
	}
}

//RESET ACCORDION STYLE FOR THE APP
.rc-collapse {
	border-radius: 0px !important;
	border: 0px !important;
	background-color: transparent !important;
	.rc-collapse-content {
		background-color: transparent !important;
	}
	.rc-collapse-header-text,
	.rc-collapse-header-text,
	.rc-collapse-header,
	.rc-collapse-item {
		width: 100% !important;
	}

	.rc-collapse-header-text {
		display: flex;
	}

	.rc-collapse-header-text::after {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		// background-image: url(../assets/img/icons/arrow-b.svg);
		background-repeat: no-repeat;
		background-size: 12px;
		background-position: center;
	}

	.rc-collapse-item-active {
		.rc-collapse-header-text::after {
			transform: rotate(180deg);
		}
	}
}

.menu-options-btn {
	border-radius: 25px;
	box-shadow: 1px 1px 5px colors.$grey40;
	position: absolute;
	top: -10px;
	right: -10px;
	width: 40px;
	height: 40px;
	background-color: white;
	// background-image: url(../assets/img/icons/menu-dots-vertical.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
.menu-options-btn:active {
	box-shadow: none;
}
