@use "./partials/variables/colors" as colors;
// @use "./partials/fonts";
@use "./partials/mixins/devices" as devices;
@use "./partials/placeholders" as placeholders;
@forward "./reset";
@forward "./slider";

html {
	font-size: 14px;

	@include devices.device(smScreen) {
		font-size: 16px;
	}

	@include devices.device(mdScreen) {
		font-size: 18px;
	}
}

.app {
	position: relative;
}

button {
	font-family: "Lato", sans-serif;
}

.title {
	@extend %mainTitle;
	color: white;
	text-align: center;
}

$headings: h1 h2 h3 h4 h5 h6;

@each $heading in $headings {
	#{$heading} {
		font-weight: bold;
	}
}

p {
	font-size: 1rem;
	line-height: 1.5rem;
}

p,
span {
	color: colors.$main;
}

img {
	width: 100%;
	height: auto;
}

canvas {
	width: 100%;
	height: auto;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
}

.videoPlayer {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	.videoPlayer_iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

@for $i from 10 through 100 {
	.padding-#{$i} {
		padding: (0% + $i);
	}

	.padding-left-#{$i} {
		padding-left: (0% + $i);
	}

	.padding-right-#{$i} {
		padding-right: (0% + $i);
	}

	.padding-top-#{$i} {
		padding-top: (0% + $i);
	}

	.padding-bottom-#{$i} {
		padding-bottom: (0% + $i);
	}

	.margin-top-#{$i} {
		margin-top: (0px + $i);
	}

	.margin-left-#{$i} {
		margin-left: (0px + $i);
	}

	.margin-right-#{$i} {
		margin-right: (0px + $i);
	}

	.margin-bottom-#{$i} {
		margin-bottom: (0px + $i);
	}
}

.author {
	font-weight: 500;
	color: colors.$grey60;
}

.date {
	font-weight: normal;
}

.uppercase {
	text-transform: uppercase;
}

.form-container {
	width: 100%;
}

.back-button {
	background: transparent;

	&:hover {
		color: colors.$main;
	}

	span {
		display: flex;
		align-items: center;
		font-weight: normal;
		&::before {
			content: "";
			width: 15px;
			height: 30px;
			display: inline-block;
			// background-image: url(../assets/img/icons/arrow-dark.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			margin-right: 5px;
		}
	}
}

.fake-button {
	background-color: colors.$grey40;
	padding: 15px 30px;
	display: block;
	border-radius: 80px;
	color: colors.$main;
	font-weight: bold;
	cursor: pointer;

	&:hover {
		background-color: colors.$grey50;
	}
}

.fake-input {
	display: flex;
	flex-direction: column;
	background-color: colors.$grey30;
	padding: 20px 15px;
	border-radius: 20px;
	opacity: 0.5;
	.label {
		font-size: 0.9rem;
		color: grey;
	}
}

//RESET ACCORDION STYLE FOR THE APP
.rc-collapse {
	border-radius: 0px !important;
	border: 0px !important;
	background-color: transparent !important;
	.rc-collapse-content {
		background-color: transparent !important;
	}
	.rc-collapse-header-text,
	.rc-collapse-header-text,
	.rc-collapse-header,
	.rc-collapse-item {
		width: 100% !important;
	}

	.rc-collapse-header-text {
		display: flex;
	}

	.rc-collapse-header-text::after {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-size: 12px;
		background-position: center;
	}

	.rc-collapse-item-active {
		.rc-collapse-header-text::after {
			transform: rotate(180deg);
		}
	}
}

.menu-options-btn {
	border-radius: 25px;
	box-shadow: 1px 1px 5px colors.$grey40;
	position: absolute;
	top: -10px;
	right: -10px;
	width: 40px;
	height: 40px;
	background-color: white;
	// background-image: url(../assets/img/icons/menu-dots-vertical.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
}
.menu-options-btn:active {
	box-shadow: none;
}

.before-after-slider__delimiter-icon {
	background-color: rgba(white, 0.5) !important;
	width: 90px !important;
	height: 90px !important;
	display: flex;
	justify-content: center;
	align-items: center;

	&::after {
		@extend %beforeAfter;
		background-image: url(../../public/img/icons/arrows_beforeAfter.svg);
		background-color: colors.$palette1 !important;
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: center;
		height: 65px;
		width: 65px;
		border-radius: 100%;
	}
}

.treatment {
	.bubble {
		display: none !important;
	}
}

.home, .treatment {
	.hero-bg {
    background: url(../../public/img/home/hero_sm.jpg) no-repeat #d3dce5 ;
		background-position: center 25%;
    background-size: cover;


    @include devices.device(tablet) {
      background: url(../../public/img/home/hero.jpg) no-repeat #d3dce5;
			background-position: center 12%;
      background-size: cover;
    }

		@include devices.device(smScreen) {
			background-position: center 15%;
      background-size: cover;    }
	}

}

.clinic {
	.hero-bg {
    background: url(../../public/img/berlin/hero.jpg) no-repeat #d3dce5 ;
		background-position: center 25%;
    background-size: cover;


    @include devices.device(tablet) {
      background: url(../../public/img/berlin/hero.jpg) no-repeat #d3dce5;
			background-position: center 25%;
      background-size: cover;
    }
	}
}
