@use "./partials/variables/colors" as colors;
@use "./partials/mixins/devices" as devices;

.swiper-slide:not(.swiper-slide-active) {
	opacity: 0 !important;
}

.swiper-pagination {
	margin-bottom: 50px;

	.swiper-pagination-bullet {
		cursor: pointer;
	}
}

// .swiper-pagination-bullet {
// 	background: white !important;
// 	padding: 20px !important;
// 	width: fit-content !important;
// 	border-radius: 100px;
// 	color: colors.$palette1;

// 	&-active {
// 		background: colors.$palette1 !important;
// 		color: white;
// 	}
// }

.swiper {
	display: flex !important;
	flex-direction: column-reverse;
}

.visualDiseases {
	.swiper-pagination {
		text-align: center;

		&-bullet-active {
			background-color: colors.$palette1 !important;
			color: white;
		}
	}
}

.treatment {
	.swiper-pagination-bullet {
		background: white;
	}
}

.home {
	.treatments {
		.swiper-pagination-bullet {
			background: colors.$palette2;
		}
	}
	
}

.treatments {
	.swiper-pagination {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: auto;

		@include devices.device(tablet) {
			width: 100%;
			margin-bottom: 2rem;
			align-items: center;
			justify-content: center;
		}
	}
	.swiper-pagination-bullet {
		border-radius: 100px;
		color: black;
		padding: 20px !important;
		// display: flex;
		// flex-wrap: wrap;
		width: 48%;
		text-align: center;

		@include devices.device(tablet) {
			margin-left: 20px;
			margin-right: 20px;
		}

		&:last-child {
			white-space: nowrap;
			width: fit-content;
			margin-top: 1rem;

			@include devices.device(tablet) {
				margin-top: 0;
			}
		}

		@include devices.device(tablet) {
			padding: 20px !important;
			padding-left: 30px !important ;
			padding-right: 30px !important;
			width: fit-content !important;
		}

		&-active {
			background: colors.$palette1 !important;
			color: white;
		}
	}
}

.testimonials {
	.swiper {
		position: relative;

		@include devices.device(smScreen) {
			flex-direction: row-reverse !important;
			justify-content: space-between;
		}

		&-wrapper {
			width: 100%;

			@include devices.device(smScreen) {
				width: 75%;
			}
		}

		&-pagination {
			display: flex;
			margin-bottom: 12px;
			@include devices.device(smScreen) {
				display: block;
				width: 35%;
				padding-right: 12px;
			}

			&-bullet-active {
				border: 1px solid colors.$palette1;
				border-radius: 100%;
				width: 75px;
				height: 75px;
				display: flex;
				justify-content: center;
				@include devices.device(smScreen) {
					border: none;
					background-color: colors.$palette2;
					border-radius: 10px;
					width: 100%;
					height: auto;
					justify-content: left;
				}
			}
			@include devices.device(smScreen) {
				width: 25% !important;
				display: flex;
				flex-direction: column;
				//margin-right: 50px;
			}
		}

		&-slide {
			width: 100% !important;
		}
	}
}

.impressions {
	.swiper-slide {
		width: auto !important;
	}

	.swiper {
		position: relative;
		&-wrapper {
			margin-bottom: 20px;
		}
		&-pagination {
			margin-bottom: 0px;
			display: flex;
			justify-content: center;
			position: absolute;
			width: 100%;

			@include devices.device(smScreen) {
				display: none !important;
			}

			&-bullet-active {
				background-color: colors.$main !important;
			}
		}
	}

	.swiper-slide:not(.swiper-slide-active) {
		opacity: 0.3 !important;
		transform: scale(0.9) !important;
	}
}

.treatmentSteps {
	.swiper-slide {
		opacity: 1 !important;
		max-width: 1400px !important;
	}
}

.mySwiper {
	flex-direction: column !important;

	.swiper-pagination {
		margin-bottom: 0;
		text-align: center;

		&-bullet {
			width: 10px;
			height: 10px;
			display: inline-block;
			background-color: #1367a6;
			border-radius: 100%;
			margin-left: 5px;

			&-active {
				background-color: colors.$palette1;
			}
		}
	}
}
