@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/mixins/layout" as layout;
@use "../../assets/styles/partials/variables/colors" as colors;

.content {
  @extend %mainLayout;

  &_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;

    @include devices.device(smScreen) {
      flex-wrap: nowrap;
      justify-content: center;

    }

    button {
      padding: 1.2rem;
      font-size: 0.9rem;
      border-radius: 100px;
      width: fit-content;
      background-color: white;
      margin-left: 10px;
      margin-right: 10px;

      @include devices.device(smScreen) {
        min-width: fit-content;
        padding: 1.5rem;

      }
    }
  }

  &_bottom {
    @include devices.device(smScreen) {
      display: flex;
    }

    &_text {
      margin-top: 3rem;
      color: colors.$main;
      margin-left: 2rem;
      display: flex;
      align-items: center;

      @include devices.device(smScreen) {
        margin-top: 0;

      }

      ul {
        li {
          display: flex;
          align-items: center;
          margin-bottom:1rem;
          &::before {
            @extend %beforeAfter;
            background: url(../../assets/img/check_list.svg) no-repeat;
            background-size: contain;
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            margin-right: 20px;
          }
        }

      }

      button {
        margin-top: 5rem;
      }

  
    }
  }
}

.title {
  @extend %mainTitle;
  width: 100%;
  text-align: center;
}

.active {
  background-color: colors.$palette1 !important;
  color: white !important;
}
