/////main color base
$main: #00508D;

//color palette
$palette1: #0099D9;
$palette2: #E5F5FB;
$palette3: #FF9900;
$palette4: #386A9D;


//grey scale
$grey10: #f9fafb;
$grey20: #f4f4f6;
$grey30: #e5e6eb;
$grey40: #d3d5da;
$grey50: #9ea3ae;
$grey60: #6c727f;
$grey70: #4d5461;
$grey80: #394150;
$grey90: #212936;

//alerts
$error: #ea416b;
$warning: #ffa64d;
$success: #46f073;

