/////main color base
$main: #022791;

//color palette
$palette1: #1D4FC6;
$palette2: #4D75FE;
$palette3: #96D5ED;
$palette4: #FFD125;
$palette6: #F6F8FC;

//grey scale
$grey10: #f9fafb;
$grey20: #f4f4f6;
$grey30: #e5e6eb;
$grey40: #d3d5da;
$grey50: #9ea3ae;
$grey60: #6c727f;
$grey70: #4d5461;
$grey80: #394150;
$grey90: #212936;

//alerts
$error: #ff5e86;
$warning: #ffa64d;
$success: #b9f046;

