@use "../../assets/styles/partials/placeholders" as placeholders;
@use "../../assets/styles/partials/mixins/devices" as devices;
@use "../../assets/styles/partials/mixins/layout" as layout;
@use "../../assets/styles/partials/variables/colors" as colors;

%containerSection {
  position: relative;
  overflow: hidden;
}

.home {
  position: relative;
  padding-top: 20rem;

  &_information {
    @extend %mainLayout;
    height: 170px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-radius: 15px;
    background: colors.$grey20;
    padding: 0px;
    display: flex;
    align-items: center;

    &::before {
      @extend %beforeAfter;
      background: url(../../assets/img/info_bottom.png) no-repeat;
      background-size: contain;
      width: 300px;
      height: 100%;
      flex-shrink: 0;
    }

    &_content {
      width: 70%;
      padding-left: 4rem;
      padding-right: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-weight: bold;
        color: colors.$main;
        font-size: 1.8rem;
        span {
          color: colors.$palette1;
          display: block;
        }
      }
    }
  }

  // section {
  //   p {
  //     font-size: 1.8rem;
  //     line-height: 2.5rem;
  //   }
  // }

  //   section,
  //   main {
  //     display: flex;
  //     align-items: center;

  //     p {
  //       margin-left: auto;
  //       margin-right: auto;

  //       @include devices.device(smScreen) {
  //         margin-left: 0;
  //         margin-right: 0;
  //       }
  //     }

  //     @include devices.device(tablet) {
  //       min-height: 100vh;
  //     }
  //   }

  &_tabs2 {
    @extend %mainLayout;
  }
}
