@use "../../../assets/styles/partials/placeholders" as placeholders;
@use "../../../assets/styles/partials/mixins/devices" as devices;
@use "../../../assets/styles/partials/variables/colors" as colors;

.hamburguerButton {
  button {
    width: 30px;
    height: 25px;
    position: relative;
    will-change: auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    background: transparent;

    & span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: colors.$main;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    & span:nth-child(1) {
      top: 0px;
    }
    
    & span:nth-child(2),& span:nth-child(3) {
      top: 10px;
    }
    
    & span:nth-child(4) {
      top: 20px;
    }
    
    &.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    
    &.open span:nth-child(2) {
      transform: rotate(45deg);
      will-change: auto;
    }
    
    &.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    
    &.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}